body {
	font-family: 'Times New Roman', Times, serif;
	margin: 0;
	background-color: black;
	color: white;
}

header {
	font-size: larger;
	background-color: #313031;
	color: white;
	padding:2% 30%;
}

.titolo{
	text-align: center;
}




.my-button{
	width: 13%;
	height: 11%;
	background-color: #313031;
    color: white;
    border: none;
	padding:2% 2%;
	text-align: center;
   	text-decoration: none;
    display: inline-block;
	position: relative;
    font-size: 120%;
	margin: 2% 1%;
    cursor: pointer;
    border-radius: 6%;
    transition: background-color 0.3s ease;
	

}

.acquisti {
	text-align: center;
	position:relative;
	top:50%;
	z-index: 2;
}

.informazioni {
	font-size: 100%;
	position: absolute;
	top: 8%;
	right: 7%;
	width: 9%;
	height: 5%;
	justify-content: center;
	align-items: center;
	color: white;
	background-color: #313031;
	border: #313031;
	cursor:pointer;
}

button.informazioni:hover{
	font-size: large;
}

button.my-button:hover{
	color:green;
}


img{
	max-width: 60%;
	height: auto;
	
}

.immagine1{
	position:absolute;
	top:23%;
	text-align: center;
	z-index: 1;
	
}
.immagine2{
	position: absolute;
	top: 125%;
	text-align: center;

}


.posizione {
	padding: 3% 0%;
	margin-top: 25.2%;
	text-align:center;
	font-size: 150%;
	background-color: #313031;

}

#tasto{
	position: absolute;
	right: 14%;
}


.primo{
	position:absolute;
	top:88%;
	right: 56.5%;
	color: white;
	font-size: 120%;
	z-index: 3;
}


.secondo{
	position:absolute;
	top:88%;
	right: 42%;
	color: white;
	font-size: 120%;
	z-index: 3;
}